<h1></h1>
<p>Welcome to {{title}}</p>


<button class="btn-primary" onclick="createPages('{{shop}}')">Add pages</button>
<button class="btn-primary" onclick="view('{{shop}}')">view pages</button>
<button class="btn-primary" onclick="createTheme('{{shop}}')">view pages</button>