<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{shop}}</h1>
    
    <script type='text/javascript' src='javascripts/create.js'></script>
  </body>
</html>