<nav class="main-nav">
	<div class="navbar">
		<ul class="nav-items">
			<li><a data-name="main" href="/">HOME</a></li>
			<li><a data-name="contact" href="#">CONTACT</a></li>
			<li><a data-name="information" href="#">COMPANY</a></li>
			<li><a href="/gallery">GALLERY</a></li>
		</ul>
	</div>

	<div class="svg-wrap">
		<svg version="1.1"  class="transition minus-one" width="35px" x="0px" y="0px"
		 	viewBox="0 0 40 2" xml:space="preserve">
			<g>
				<path style="fill:#020202;" d="M0.9,0h38.2C39.6,0,40,0.4,40,1v0c0,0.6-0.4,1-0.9,1H0.9C0.4,2,0,1.6,0,1v0C0,0.4,0.4,0,0.9,0z"/>
			</g>
		</svg>
		<svg version="1.1" class="transition minus-two" width="35px" x="0px" y="0px"
		 	viewBox="0 0 40 2" xml:space="preserve">
			<g>
				<path style="fill:#020202;" d="M0.9,0h38.2C39.6,0,40,0.4,40,1v0c0,0.6-0.4,1-0.9,1H0.9C0.4,2,0,1.6,0,1v0C0,0.4,0.4,0,0.9,0z"/>
			</g>
		</svg>
		<svg version="1.1"  class="transition minus-three" width="35px" x="0px" y="0px"
		 	viewBox="0 0 40 2" xml:space="preserve">
			<g>
				<path style="fill:#020202;" d="M0.9,0h38.2C39.6,0,40,0.4,40,1v0c0,0.6-0.4,1-0.9,1H0.9C0.4,2,0,1.6,0,1v0C0,0.4,0.4,0,0.9,0z"/>
			</g>
		</svg>
		<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
				<circle fill="transparent" stroke="#000" stroke-width="1" cx="27" cy="27" r="25" ></circle>
		</svg>
	</div>
</nav>

<section class="main">
	<!-- Small screen navigtion open -->
	<div class="nav-btn-container">
		<svg class="svg-clip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" width="0" height="3">
		  <defs>
		    <clipPath id="clipping">
	
		      		<rect x="0" y="0" width="72" height="172"/>
		  	
		    </clipPath>
		  </defs>
		</svg>
		<div class="box-open">
			<div class="info-icon">
				<a href="/">
				<svg data-name="main" xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26">
					<path fill="#030044" d="M29.7,11.7l-3.9-3.2V1c0-0.5-0.4-0.9-0.9-0.9h-3.1c-0.5,0-0.9,0.4-0.9,0.9v3.4l-4.8-4
						c-0.6-0.5-1.6-0.5-2.2,0C11,2.6,0.2,11.7,0.2,11.7c-0.3,0.3-0.4,0.8,0,1.2l0.8,1c0.3,0.4,0.9,0.4,1.3,0.1L14.9,3.5l12.7,10.6
						c0.4,0.3,0.9,0.3,1.3-0.1l0.9-1C30.1,12.6,30.1,12.1,29.7,11.7z"/>
					<path fill="#030044" d="M14.9,5.2L4.3,14v10.6c0,0.6,0.5,1.3,1.3,1.3h10.9v-7c0-0.1,0.1-0.3,0.3-0.3H21c0.1,0,0.3,0.1,0.3,0.3v7h3.2
						c0.6,0,1.3-0.5,1.3-1.3V14.3L14.9,5.2z M9.8,21.9h-2c-0.1,0-0.1-0.1-0.1-0.1v-2.1c0-0.1,0.1-0.1,0.1-0.1h2.1c0.1,0,0.1,0.1,0.1,0.1
						l0,2.1C10,21.9,9.9,21.9,9.8,21.9z M9.8,18.8H7.8c-0.1,0-0.1-0.1-0.1-0.1v-2.1c0-0.1,0.1-0.1,0.1-0.1h2.1c0.1,0,0.1,0.1,0.1,0.1
						l0,2.1C10,18.7,9.9,18.8,9.8,18.8z M13,21.9h-2.1c-0.1,0-0.1-0.1-0.1-0.1v-2.1c0-0.1,0.1-0.1,0.1-0.1H13c0.1,0,0.1,0.1,0.1,0.1v2.1
						C13.1,21.9,13,21.9,13,21.9z M12.9,18.8h-2c-0.1,0-0.1-0.1-0.1-0.1v-2.1c0-0.1,0.1-0.1,0.1-0.1H13c0.1,0,0.1,0.1,0.1,0.1l0,2.1
						C13.1,18.8,13,18.8,12.9,18.8z"/>
				</svg>
			</a>
			</div>
			<div class="info-icon">
				<svg version="1.1" id="contact" data-name="contact" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 30 30.301" width="30" height="30.301" xml:space="preserve">
					<g>
						<path fill="#030044" d="M23.63,0H4.415C3.417,0,2.6,0.836,2.6,1.835v1.73h2.11c1.393,0,2.523,1.127,2.523,2.52c0,1.393-1.129,2.52-2.523,2.52H2.6
							v4.057h2.11c1.393,0,2.523,1.127,2.523,2.52c0,1.393-1.129,2.52-2.523,2.52H2.6v3.995h2.11c1.393,0,2.523,1.157,2.523,2.551
							s-1.129,2.551-2.523,2.551H2.6v1.695c0,0.998,0.816,1.808,1.814,1.808H23.63c0.998,0,1.834-0.81,1.834-1.808V1.835
							C25.464,0.836,24.629,0,23.63,0z M21.674,23.627c0,0-1.016,0.549-1.355,0.732c-1.71,0.925-5.205-2.219-7.806-7.025
							c-2.601-4.807-3.321-9.453-1.611-10.379l1.354-0.733c0.401-0.217,0.901-0.068,1.118,0.333l2.145,3.965
							c0.217,0.401,0.068,0.901-0.333,1.118l-1.353,0.733l3.558,6.575l1.353-0.733c0.193-0.104,0.418-0.128,0.628-0.065
							c0.21,0.063,0.386,0.205,0.49,0.398l2.145,3.966C22.224,22.91,22.075,23.41,21.674,23.627z"/>
						<path fill="#030044" id="XMLID_103_" d="M1.514,7.595H4.71c0.836,0,1.514-0.677,1.514-1.514c0-0.836-0.678-1.514-1.514-1.514H1.514
							C0.677,4.568,0,5.245,0,6.082C0,6.918,0.677,7.595,1.514,7.595z"/>
						<path fill="#030044" id="XMLID_102_" d="M1.514,16.677H4.71c0.836,0,1.514-0.678,1.514-1.514c0-0.836-0.678-1.514-1.514-1.514H1.514
							C0.677,13.65,0,14.327,0,15.164C0,16,0.677,16.677,1.514,16.677z"/>
						<path fill="#030044" id="XMLID_101_" d="M6.224,24.246c0-0.836-0.678-1.514-1.514-1.514H1.514C0.677,22.732,0,23.409,0,24.246
							c0,0.836,0.677,1.514,1.514,1.514H4.71C5.546,25.759,6.224,25.082,6.224,24.246z"/>
						<path fill="#030044" id="XMLID_100_" d="M28.833,8.478h-1.86v4.667h1.86c0.644,0,1.167-0.522,1.167-1.167V9.645
							C30,9.001,29.478,8.478,28.833,8.478z"/>
						<path id="XMLID_99_" d="M28.833,15.321h-1.86v4.667h1.86c0.644,0,1.167-0.522,1.167-1.167v-2.334
							C30,15.844,29.478,15.321,28.833,15.321z"/>
						<path fill="#030044" id="XMLID_98_" d="M28.833,22.164h-1.86v4.667h1.86c0.644,0,1.167-0.522,1.167-1.167v-2.333
							C30,22.687,29.478,22.164,28.833,22.164z"/>
					</g>
				</svg>
			</div>
			<div class="info-icon">
				<svg data-name="information" xmlns="http://www.w3.org/2000/svg" width="30" height="24.5" viewBox="0 0 30 24.5">
					<path fill="#030044" d="M27.9,0H2.1C0.9,0,0,0.9,0,2.1v1.1h30V2.1C30,0.9,29.1,0,27.9,0z"/>
					<path fill="#030044" d="M0,5.1v17.4c0,1.1,0.9,2.1,2.1,2.1h25.9c1.1,0,2.1-0.9,2.1-2.1V5.1H0z M9.2,9.6c1.9,0,3.4,1.5,3.4,3.4
						c0,1.9-1.5,3.4-3.4,3.4c-1.9,0-3.4-1.5-3.4-3.4C5.8,11.1,7.3,9.6,9.2,9.6z M15,20.4c0,0.4-0.3,0.7-0.7,0.7H4.1
						c-0.4,0-0.7-0.3-0.7-0.7v0c0-1.5,1.2-2.7,2.7-2.7h0.7c0.6,0.5,1.5,0.8,2.3,0.8c0.9,0,1.7-0.3,2.3-0.8h0.7C13.8,17.6,15,18.9,15,20.4
						L15,20.4z M26.9,17.4c0,0.2-0.2,0.4-0.4,0.4h-7.8c-0.2,0-0.4-0.2-0.4-0.4v-0.9c0-0.2,0.2-0.4,0.4-0.4h7.8c0.2,0,0.4,0.2,0.4,0.4
						V17.4z M26.9,14c0,0.2-0.2,0.4-0.4,0.4h-7.8c-0.2,0-0.4-0.2-0.4-0.4v-0.9c0-0.2,0.2-0.4,0.4-0.4h7.8c0.2,0,0.4,0.2,0.4,0.4V14z
						 M26.9,10.7c0,0.2-0.2,0.4-0.4,0.4h-7.8c-0.2,0-0.4-0.2-0.4-0.4V9.8c0-0.2,0.2-0.4,0.4-0.4h7.8c0.2,0,0.4,0.2,0.4,0.4V10.7z"/>
				</svg>
			</div>
			<div class="info-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="25.3" viewBox="0 0 30 25.3">
				<path fill="#030044" stroke="#232323" stroke-width="7.077124e-02" stroke-miterlimit="10" d="M8.2,21.8c-2.7,0-4.9-2.3-4.9-5.1V6.2
					H2.5C1.2,6.2,0,7.4,0,8.8v13.9c0,1.4,1.1,2.6,2.5,2.6h20c1.4,0,2.5-1.2,2.5-2.6v-0.9H8.2z"/>
				<path fill="#030044" d="M27.6,0h-20C6.2,0,5,1.2,5,2.6v14.9c0,1.4,1.1,2.6,2.5,2.6h20c1.4,0,2.5-1.2,2.5-2.6V2.6
					C30,1.2,28.9,0,27.6,0z M10.8,3.7c1.3,0,2.4,1.1,2.4,2.5s-1.1,2.5-2.4,2.5S8.4,7.6,8.4,6.2S9.5,3.7,10.8,3.7z M26.6,15.6
					c0,0.5-0.4,0.9-0.9,0.9H9.2c-0.5,0-0.9-0.4-0.9-0.9V14c0,0,2.5-2.5,3.1-3.1c0,0,0.2-0.1,0.2-0.1c0.1,0,0.2,0.1,0.2,0.1
					c0.6,0.5,2.5,2.4,2.5,2.4l7.2-7.7c0.1-0.1,0.2-0.1,0.3,0l4.7,4.9c0.1,0.1,0.1,0.2,0.1,0.3V15.6z"/>
				</svg>
			</div>

		</div>
		<!-- <div> -->
		<div class="nav-button">

			<div class="nav-btn-wrapper">
				<span class="btn-line"></span>
				<span class="btn-line"></span>
			</div>
		</div>

	</div> <!-- End Small screen navigation open -->

	<!-- stroke-dasharray="157 157" stroke-dashoffset="157" -->
	<!-- Left Page -->
	<div class="left-content">
		<header class="header-content">
			<h1 class="slogan">Swinging <br>Solutions</h1>
			<h4>Industrial & Commercial <br>Hinged Door Services</h4>
		</header>
	</div>
	<div class="bottom-content">
			<i class="fas fa-phone"><h3>760-295-8500</h3></i>
	</div>
	

	<!-- Right Page -->
	<div class="right-content">
		
		<div class="page-container">

			<div class="img-container">
				<div class="button-container">
				<span class="img-btn btn-left">
					<p><</p>
				</span>
				<span class="img-btn btn-right">
					<p>></p>
				</span>
			</div>
			</div>


		</div>
		<h4 class="favorite-quote">San Diego's Favorite Residential and Commercial Door Repairer</h4>
	</div>
</section>
<section class="projects">
		<div class="container-lg">
			<header>
				<h1>Swinging Door Repairs In San Diego</h1>
				<h3>We provide professional, efficient and reliable service for repair and maintenance of your swinging hinged doors.</h3>
			</header>
		</div>
		<div class="container-xlg projects">
		<div class="project-images">
			<div class="project-row">
				<div class="project-col">
					
					<span class="img-wrapper">
						<h1 class="img-header">RESEDINTIAL</h1>
						<img src="images/residential.jpg"/>
					</span>
				</div>
				<div class="project-col">
					
					<span class="img-wrapper">
						<h1 class="img-header">COMMERCIAL</h1>
						<img src="images/commercial.jpg">
					</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="information">
	<div class="container-lg header">
		<div>
			<h4>INFORMATIONAL DOOR SERVICES</h4>
			<p class="info-about">A beautiful door, properly framed and that fits within your home's décor is something that will not go unappreciated, especially on exterior doors when the air conditioner is running in the summer and the furnace is going in the winter. Below are steps you need to know regarding our door services leading up to contacting us. </p>
		</div>
	</div>
	<div class="container-lg grid">
		<nav class="info-nav">
			<div class="nav-wrapper">
				<ul class="info-buttons">
					<div class="nav-shadow">
						<svg xmlns="http://www.w3.org/2000/svg" width="23.1" height="18" viewBox="0 0 23.1 18">
							<path d="M16.9,9.1c0,0,3.1,3,5.3,5.1c0.6,0.6,1.1,1.6,0.9,2.3c-0.3,1.1-1.5,1.8-2.9,1.4c-3-0.9-18-6.1-18.5-6.3
								c-2.1-0.7-2.3-3.4-0.5-4.1c1.6-0.6,17.9-7,18.4-7.2c1.4-0.5,2.5,0,2.9,0.7c0.4,0.7,0.6,1.7-0.3,2.7S16.9,9.1,16.9,9.1z"/>
						</svg>
						</div>
					<li><button class="info-btn">REPLACE OR REPAIR</button></li>
					<li><button class="info-btn">WHY HIRE US</button></li>
					<li><button class="info-btn">TYPE OF DOORS WE DO</button></li>
					<li><button class="info-btn">HOW TO CONTACT US</button></li>
				</ul>
			</div>
		</nav>

		<div class="info-section">
			<div class="info-item">
				<div class="box-one repair-replace">
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="repair-replace">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21.5" height="25" viewBox="0 0 21.5 25">
										<path d="M18,25c-0.1,0-0.2-0.1-0.2-0.3c0-0.4,0-0.8,0-1.1c0,0,0,0,0-0.1c0,0,0,0-0.1,0c-1.6,0-2.8,0-4.6,0c-0.6,0-1.4-0.5-1.4-1.3
											c0-0.3,0-0.6,0.2-0.8c0,0,0,0,0,0s0,0,0,0c0,0.4,0.6,0.7,1.2,0.7c1,0,3.4,0,4.5,0c0,0,0,0,0.1,0c0,0,0,0,0-0.1c0-0.4,0-0.8,0-1.2
											c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.1,0,0.2,0c0.4,0.3,0.8,0.6,1.2,0.9c0.5,0.4,1.1,0.7,1.6,1.1c0.1,0,0.1,0.1,0.1,0.2c0,0,0,0.1,0,0.1
											c0,0.1-0.1,0.1-0.2,0.2c-0.9,0.6-1.7,1.2-2.6,1.8C18.3,24.8,18.2,24.9,18,25C18,25,18,25,18,25z"/>
										<path d="M3.2,0c0.2,0.1,0.2,0.1,0.2,0.3c0,0.4,0,0.8,0,1.1c0,0,0,0,0,0.1c0.1,0,0.2,0,0.2,0c1.3,0,2.6,0,4.2,0c1,0,1.6,0.5,1.6,1.3
											c0,0.3,0,0.6-0.2,0.8c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0C9,3.3,8.7,3,8,3C6.7,3,3.5,3,3.5,3c0,0,0,0-0.1,0c0,0,0,0,0,0.1
											c0,0.4,0,0.8,0,1.2c0,0.1-0.1,0.2-0.2,0.2c-0.1,0-0.1,0-0.2,0C2.8,4.3,2.5,4.1,2.3,4C1.5,3.5,1,3.1,0.2,2.5C0.1,2.5,0,2.4,0,2.3
											c0-0.1,0.1-0.2,0.2-0.2C1.1,1.4,2,0.7,3,0.1C3,0,3.1,0,3.2,0C3.1,0,3.2,0,3.2,0z"/>
										<path d="M5,4.5v15.9h10.9V4.5H5z M14,11.4c-0.2,0-0.4-0.1-0.6-0.3l-2.2-0.4l2.2-0.4c0.1-0.2,0.3-0.3,0.6-0.3c0.4,0,0.7,0.3,0.7,0.7
											S14.3,11.4,14,11.4z"/>
										<path d="M5,6.9L5,6.9c-0.1,0-0.2-0.1-0.2-0.2V5.9c0-0.1,0.1-0.2,0.2-0.2l0,0c0.1,0,0.2,0.1,0.2,0.2v0.8C5.2,6.8,5.1,6.9,5,6.9z"/>
										<path d="M5,8.1L5,8.1C4.9,8.1,4.8,8,4.8,7.9V7.1C4.8,7,4.9,6.9,5,6.9l0,0c0.1,0,0.2,0.1,0.2,0.2v0.8C5.2,8,5.1,8.1,5,8.1z"/>
										<path d="M5,17.3L5,17.3c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2l0,0c0.1,0,0.2,0.1,0.2,0.2v0.8C5.2,17.2,5.1,17.3,5,17.3
											z"/>
										<path d="M5,18.4L5,18.4c-0.1,0-0.2-0.1-0.2-0.2v-0.8c0-0.1,0.1-0.2,0.2-0.2l0,0c0.1,0,0.2,0.1,0.2,0.2v0.8C5.2,18.3,5.1,18.4,5,18.4
											z"/>

									</svg>
								</div>

								<div class="subtitle">
									<p>Replace</p>
									<p>Forced Entry</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper indent">
						<div class="item-one">
							<div class="item-content" data-name="repair-replace">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="16.8" height="20" viewBox="0 0 16.8 20">
										<polygon fill="#FFFFFF" points="5.1,3.1 0.9,19.7 11.7,19.7 16.4,3.1 "/>
										<path d="M12,20H0.5L4.9,2.8h11.9L12,20z M1.7,19.1h9.5l4.3-15.5h-10L1.7,19.1z"/>
										<ellipse transform="matrix(0.3468 -0.9379 0.9379 0.3468 -1.0656 17.9063)" cx="12.3" cy="9.7" rx="0.7" ry="0.5"/>
										<polygon points="12.9,1.7 12.9,0 0,0 0,17.6 3.8,1.7 "/>
										<path d="M4.4,4.5L4.4,4.5c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0.1-0.2,0.2L4.3,4.3
											C4.2,4.4,4.3,4.5,4.4,4.5z"/>
										<path d="M4.1,5.7L4.1,5.7c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0-0.2,0.1L4,5.5C3.9,5.6,4,5.7,4.1,5.7
											z"/>
										<path d="M1.2,17.1L1.2,17.1c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0.1-0.2,0.2L1,16.9
											C1,17,1.1,17.1,1.2,17.1z"/>
										<path d="M0.9,18.3L0.9,18.3c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0.1-0.2,0.2l-0.2,0.7
											C0.7,18.2,0.8,18.3,0.9,18.3z"/>
									</svg>
								</div>

								<div class="subtitle">
									<p>Services</p>
									<p>Residential Commercial</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-two">
							<div class="item-content" data-name="repair-replace">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20.3" height="20"   viewBox="0 0 20.3 20">   
										<path d="M4.4,0c0.1,0,0.3,0,0.5,0.1c1.6,0.4,2.7,1.7,2.9,3.3c0,0.4,0,0.9-0.1,1.4c0,0.1,0,0.2,0.1,0.3c0.6,0.6,1.3,1.3,2,2
											c0,0,0.1,0.1,0.1,0.1C9.2,8.1,8.3,9,7.5,9.8c0,0-0.1,0-0.1-0.1C6.7,9,6,8.3,5.4,7.7C5.3,7.6,5.2,7.6,5.1,7.6c-2.5,0.7-5-1.2-4.9-3.9
											c0-0.5,0.1-0.9,0.3-1.4C0.6,2,0.8,2,1,2.2c0.7,0.7,1.5,1.5,2.2,2.2c0.3,0.3,0.6,0.4,1,0.3c0.6-0.1,0.9-0.9,0.4-1.4
											C4.5,3,4.2,2.8,4,2.5C3.5,2,2.9,1.4,2.3,0.9C2.1,0.6,2.1,0.4,2.5,0.3C2.9,0.2,3.3,0.1,3.7,0C3.9,0,4.2,0,4.4,0z"/>
										<path d="M10,12.4c0.8-0.8,1.6-1.6,2.5-2.5c0.1,0.1,0.2,0.2,0.3,0.3c0.7,0.7,1.3,1.3,2,2c0.1,0.1,0.2,0.1,0.3,0.1
											c2.5-0.7,5,1.3,4.9,3.9c0,0.4-0.1,0.9-0.3,1.3c-0.1,0.4-0.3,0.4-0.6,0.1c-0.7-0.7-1.5-1.5-2.2-2.2c-0.2-0.2-0.5-0.3-0.8-0.3
											c-0.4,0-0.6,0.2-0.8,0.6s0,0.7,0.2,1c0.7,0.7,1.5,1.5,2.2,2.2c0,0,0.1,0.1,0.1,0.1c0.1,0.2,0.1,0.3-0.1,0.4
											c-1.4,0.7-3.4,0.3-4.4-0.8c-1-1.1-1.3-2.3-1-3.7c0-0.1,0-0.2-0.1-0.3C11.6,14,10.8,13.2,10,12.4z"/>
										<path d="M9.6,0.4c0.1,0,0.2-0.1,0.3-0.1c0.7-0.2,1.5-0.2,2.3,0c1.1,0.3,2,0.8,2.9,1.5c0.7,0.5,1.4,1.1,2,1.8
											c0.3,0.4,0.6,0.9,0.9,1.4c0.1,0.2,0.2,0.5,0.2,0.8c0,0,0,0.1,0,0.2c0.1,0.2,0.3,0.5,0.5,0.7c0-0.1,0.1-0.2,0.2-0.2
											c0.3-0.2,0.6-0.2,0.9,0s0.2,0.6,0,0.9c-0.5,0.5-1,1-1.5,1.5c-0.2,0.2-0.6,0.2-0.9,0s-0.2-0.6,0-0.9c0,0,0.1-0.1,0.2-0.1
											c-0.5-0.4-0.9-0.7-1.4-1c-0.2-0.1-0.4-0.1-0.6-0.1c-0.2,0.1-0.5,0-0.7-0.2c0,0-0.1-0.1-0.2-0.2c-2,2-3.9,3.9-5.9,5.9
											c-0.5-0.5-0.9-0.9-1.4-1.4c1.9-1.9,3.9-3.9,5.8-5.8c-0.1-0.1-0.2-0.2-0.2-0.3c0-0.1,0-0.3,0-0.4c0.4-0.7,0.2-1.3-0.2-1.9
											c-0.5-0.7-1.2-1-2-1.3C10.6,0.7,10.2,0.7,9.6,0.4C9.6,0.5,9.6,0.5,9.6,0.4C9.6,0.5,9.6,0.4,9.6,0.4z"/>
										<path d="M2.3,19.9c-0.1,0-0.2-0.1-0.3-0.2c-0.6-0.5-1.1-1.1-1.7-1.7c-0.2-0.2-0.2-0.5,0-0.8c1.2-1.1,2.4-2.2,3.6-3.2
											c0.9-0.8,1.8-1.6,2.7-2.4C7,11,7.3,11,7.7,11.4c0.2,0.2,0.5,0.5,0.8,0.8c0.3,0.3,0.3,0.6,0,0.9c-1.9,2.1-3.8,4.3-5.8,6.4
											C2.6,19.7,2.5,19.9,2.3,19.9z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Repair</p>
									<p>Hardware Issue</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper indent">
						<div class="item-one">
							<div class="item-content" data-name="repair-replace">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="16.8" height="20" viewBox="0 0 16.8 20">
										<polygon fill="#FFFFFF" points="5.1,3.1 0.9,19.7 11.7,19.7 16.4,3.1 "/>
										<path d="M12,20H0.5L4.9,2.8h11.9L12,20z M1.7,19.1h9.5l4.3-15.5h-10L1.7,19.1z"/>
										<ellipse transform="matrix(0.3468 -0.9379 0.9379 0.3468 -1.0656 17.9063)" cx="12.3" cy="9.7" rx="0.7" ry="0.5"/>
										<polygon points="12.9,1.7 12.9,0 0,0 0,17.6 3.8,1.7 "/>
										<path d="M4.4,4.5L4.4,4.5c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0.1-0.2,0.2L4.3,4.3
											C4.2,4.4,4.3,4.5,4.4,4.5z"/>
										<path d="M4.1,5.7L4.1,5.7c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0-0.2,0.1L4,5.5C3.9,5.6,4,5.7,4.1,5.7
											z"/>
										<path d="M1.2,17.1L1.2,17.1c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0.1-0.2,0.2L1,16.9
											C1,17,1.1,17.1,1.2,17.1z"/>
										<path d="M0.9,18.3L0.9,18.3c0.1,0,0.2-0.1,0.2-0.2l0.2-0.7c0-0.1,0-0.2-0.1-0.2l0,0c-0.1,0-0.2,0.1-0.2,0.2l-0.2,0.7
											C0.7,18.2,0.8,18.3,0.9,18.3z"/>
									</svg>
								</div>

								<div class="subtitle">
									<p>Services</p>
									<p>Resedintial Commercial</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!--  REPLACE OR REPAIR END -->
				<div class="box-one hire-us">
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="hire-us">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="25.1" height="25" viewBox="0 0 25.1 25">
									<path fill="#020202" d="M20.2,13.2C20.2,13.1,20,13,19.9,13c0,0-0.1,0-0.1,0l0,0c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0
										c-0.1,0-0.2,0-0.4,0.1c-0.2,0-0.5,0-0.7,0c-0.3,0-0.5,0-0.7-0.1c-0.2,0-0.4-0.1-0.6-0.2c0-0.3,0-0.5,0-0.8c-0.1-0.4-0.2-0.9-0.4-1.3
										c-0.3-0.6-0.7-1-1-1.5C15.3,9.3,15.2,9.1,15,9c-0.3-0.3-0.4-0.6-0.6-0.9c-0.1-0.3-0.1-0.6-0.1-1c0-0.3,0.1-0.7,0.1-1.1
										c0-0.1,0-0.2,0.1-0.3c0.1-0.3,0.1-0.6,0.2-0.9c0-0.1,0-0.2,0-0.4c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.1-0.2-0.2-0.3-0.3
										c-0.1-0.1-0.3-0.1-0.4-0.2c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.2,0-0.3,0c0,0,0,0-0.1,0c-0.2,0-0.4,0-0.7,0.1c-0.4,0.1-0.8,0.4-1.1,0.7
										c-0.3,0.3-0.6,0.7-0.7,1.1c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3c0,0.5,0.2,0.9,0.4,1.2
										c0,0.1,0.1,0.2,0.1,0.3c0.1,0.3,0.2,0.5,0.3,0.8c0.1,0.2,0.1,0.3,0.1,0.4c-0.2-0.1-0.5-0.1-0.7-0.2C10.4,9.2,10,9.2,9.6,9.1
										C9.2,9.1,8.8,9,8.5,9c-0.5,0-1,0-1.4,0.2c-0.1,0-0.2,0-0.2,0.1l-0.1,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0.1-0.2,0.1
										c-0.1,0-0.2,0.1-0.2,0.1l-0.1,0l0,0C6.1,9.6,6,9.7,5.9,9.7C5.7,9.8,5.5,10,5.4,10.2c-0.1,0.2-0.3,0.4-0.3,0.6
										C5,11,4.9,11.2,4.9,11.4c0,0.2,0,0.5,0.1,0.7c0.1,0.2,0.2,0.4,0.3,0.6c0,0,0,0,0,0.1c-0.1,0.1-0.1,0.2-0.2,0.3
										c-0.1,0.2-0.2,0.4-0.2,0.6c0,0.2,0,0.5,0.1,0.7C5,14.6,5.1,14.8,5.2,15c0,0.1,0.1,0.1,0.1,0.2c0,0.1-0.1,0.1-0.1,0.2
										C5.1,15.6,5,15.7,5,15.9c0,0.2,0,0.4,0,0.6c0,0.2,0.1,0.4,0.2,0.5c0.2,0.3,0.4,0.5,0.7,0.7c0,0.1,0,0.2,0,0.4c0,0.2,0.1,0.4,0.1,0.6
										c0.1,0.2,0.2,0.4,0.3,0.5c0.1,0.1,0.3,0.3,0.5,0.4c0.3,0.2,0.7,0.2,1.1,0.3c0,0,0.1,0,0.1,0c0.3,0,0.7-0.1,1-0.2
										c0.3-0.1,0.5-0.2,0.7-0.4c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.2,0.8,0.3,1.2,0.4c0.2,0,0.5,0.1,0.8,0.1c0.2,0,0.4,0,0.6,0
										c0.4-0.1,0.9-0.2,1.3-0.4c0.4-0.2,0.7-0.5,1.1-0.8c0.1-0.1,0.3-0.3,0.4-0.5c0.1-0.1,0.1-0.2,0.2-0.3c0,0,0.1,0,0.1,0
										c0.1,0,0.2-0.1,0.4-0.1c0.2,0,0.5-0.1,0.8-0.1c0.3,0,0.5,0,0.8,0c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0,0.2,0l0.2,0l0.1,0c0,0,0.1,0,0.1,0
										c0,0,0,0,0,0c0,0,0,0,0,0c0.2,0,0.4-0.2,0.4-0.3c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1c0,0-0.1,0-0.1,0l0,0l-0.1,0l-0.2,0
										c-0.1,0-0.3,0-0.4,0c-0.3,0-0.6,0.1-0.9,0.1c-0.3,0.1-0.6,0.1-0.9,0.2c0,0,0,0-0.1,0c0-0.1,0-0.2,0-0.3c0-0.2-0.1-0.5-0.2-0.7
										c-0.1-0.1-0.1-0.2-0.2-0.3l0-0.1c0-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.2,0.2-0.3
										c0.1-0.2,0.2-0.4,0.3-0.6c0.2-0.3,0.3-0.7,0.3-1.2c0.2,0.1,0.4,0.1,0.6,0.2c0.2,0.1,0.5,0.1,0.8,0.1c0.2,0,0.3,0,0.5,0c0,0,0,0,0,0
										c0.1,0,0.2,0,0.4,0c0.2,0,0.3,0,0.4,0c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.1,0,0.2-0.1,0.2-0.2
										C20.3,13.4,20.3,13.3,20.2,13.2z M15.6,14.9c-0.1,0.1-0.1,0.2-0.2,0.2c-0.1,0.1-0.1,0.1-0.2,0.2l0,0c-0.1,0.1-0.1,0.2-0.2,0.4
										c0,0.1,0,0.1,0,0.1c0,0,0,0.1,0,0.1l0,0c0,0,0,0,0,0.1c0,0.1,0.1,0.2,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0.1
										c0.1,0.1,0.1,0.2,0.1,0.2c0.1,0.1,0.1,0.3,0.1,0.4c0,0.1,0,0.2,0,0.2c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1
										c-0.1,0.1-0.1,0.3-0.3,0.4c-0.1,0.1-0.2,0.2-0.4,0.4c-0.3,0.2-0.6,0.4-0.9,0.6c-0.5,0.2-1,0.3-1.6,0.3c-0.2,0-0.3,0-0.5,0
										c-0.6-0.1-1.1-0.3-1.8-0.6c0.1-0.2,0.2-0.4,0.3-0.6c0.1-0.2,0.1-0.4,0.2-0.5c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2-0.1-0.3
										c-0.1-0.2-0.2-0.3-0.4-0.5c-0.1-0.1-0.2-0.1-0.3-0.1c0,0,0,0,0,0c0-0.1,0-0.2-0.1-0.3c0.1-0.1,0.2-0.2,0.3-0.4
										c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.2,0.1-0.3c0-0.2,0-0.4-0.1-0.7c0-0.1-0.1-0.2-0.1-0.3c0.1,0,0.1-0.1,0.2-0.2l0,0l0,0
										c0,0,0.1-0.1,0.1-0.1l0,0l0,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1l0,0c0-0.1,0.1-0.1,0.1-0.2l0-0.1l0,0c0,0,0,0,0-0.1l0-0.1
										c0,0.1,0,0.1,0,0.2c0,0.4,0.1,0.9,0.4,1.3c0.2,0.4,0.5,0.7,0.9,0.9c0.4,0.2,0.8,0.4,1.2,0.4l0,0h0c0,0,0.1,0,0.1-0.1
										c0-0.1,0-0.1-0.1-0.2c-0.4-0.2-0.7-0.4-0.9-0.6c-0.3-0.3-0.5-0.5-0.7-0.8c-0.2-0.3-0.2-0.6-0.2-1c0-0.3,0.1-0.7,0.2-1
										c0.1-0.3,0.2-0.6,0.4-0.9c0-0.1,0-0.1,0.1-0.2c0.1-0.2,0.2-0.4,0.2-0.6c0.1-0.2,0.1-0.5,0.1-0.7c0-0.1,0-0.2,0-0.3
										c0-0.1,0-0.2,0-0.3c0-0.2-0.1-0.4-0.2-0.6c-0.1-0.3-0.3-0.6-0.4-0.9c0-0.1-0.1-0.2-0.1-0.2c-0.1-0.3-0.3-0.6-0.3-1
										c0-0.1,0-0.3,0-0.5c0-0.2,0.1-0.3,0.1-0.5c0.1-0.3,0.3-0.6,0.5-0.9c0.2-0.2,0.5-0.4,0.9-0.5c0.2-0.1,0.3-0.1,0.5-0.1
										c0,0,0.1,0,0.1,0c0.2,0,0.3,0,0.4,0c0.1,0,0.1,0,0.2,0.1c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.1,0.2,0.1,0.4c0,0.2,0,0.3-0.1,0.5
										c0,0.2-0.1,0.3-0.1,0.5L13.8,6c-0.1,0.3-0.2,0.7-0.2,1.1c-0.1,0.5,0,0.9,0.1,1.3c0.1,0.5,0.4,0.9,0.6,1.1c0.2,0.2,0.3,0.4,0.5,0.6
										c0.1,0.1,0.2,0.2,0.3,0.3c0.3,0.3,0.5,0.6,0.6,0.9c0.2,0.3,0.3,0.6,0.4,1c0.1,0.3,0.1,0.7,0,1.1c0,0.4-0.1,0.7-0.3,1
										C15.8,14.6,15.7,14.7,15.6,14.9z M8.1,19.1c0,0-0.1,0-0.1,0c-0.3,0-0.6-0.1-0.8-0.2c-0.2-0.1-0.4-0.3-0.5-0.5c0-0.1-0.1-0.2-0.1-0.4
										c0,0,0,0,0-0.1C6.8,18,6.9,18,7,18c0.1,0,0.3,0,0.4,0C7.6,18,7.8,18,8,18c0.4-0.1,0.7-0.2,1-0.3c0.2-0.1,0.3-0.2,0.4-0.3
										c0.2-0.1,0.3-0.3,0.4-0.4c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2
										c0,0.1-0.1,0.2-0.1,0.4c-0.3,0.5-0.7,0.9-1.2,1.1C8.6,19.1,8.4,19.1,8.1,19.1z M6.4,17.2c0,0-0.1,0-0.1-0.1
										c-0.3-0.1-0.5-0.3-0.6-0.5c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.1,0.1-0.3,0.2-0.4c0.1,0.1,0.2,0.2,0.4,0.3c0.3,0.2,0.7,0.4,1.1,0.5
										c0.2,0.1,0.4,0.1,0.6,0.1c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c0.4,0,0.7-0.1,0.9-0.2c0,0,0,0.1,0,0.1c0,0.1,0,0.2-0.1,0.3
										C9.2,16.9,9,17,8.7,17.2c-0.2,0.1-0.5,0.2-0.8,0.2c-0.2,0-0.3,0-0.4,0c0,0,0,0-0.1,0c-0.1,0-0.2,0-0.4,0C6.9,17.4,6.7,17.3,6.4,17.2
										C6.5,17.2,6.5,17.2,6.4,17.2L6.4,17.2z M9.5,9.7c0.4,0,0.7,0.1,1.2,0.2c0.3,0.1,0.5,0.1,0.8,0.2c0,0.3-0.2,0.6-0.3,0.9
										c0,0.1-0.1,0.2-0.1,0.2c-0.1,0.3-0.2,0.6-0.3,0.9c-0.1,0.3-0.1,0.6-0.2,0.8l0,0c0,0,0,0,0-0.1l0,0c0-0.2-0.1-0.5-0.3-0.7
										c-0.2-0.3-0.5-0.6-1-0.9C8.7,11,8,10.8,7.1,10.8c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0.1-0.2,0.2c0,0,0,0.1,0,0.1c0,0,0.1,0.1,0.1,0.1
										c0.4,0,0.8,0.1,1.2,0.2c0.4,0.1,0.7,0.2,1.1,0.4c0.3,0.2,0.6,0.5,0.8,0.7c0.1,0.1,0.1,0.3,0.2,0.4l0,0.1l0,0.1l0,0.1l0,0.1l0,0.1
										l0,0c0,0,0,0,0,0.1l0,0c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.5,0.2c-0.1,0-0.3,0-0.4,0c0,0-0.1,0-0.1,0
										c-0.2,0-0.4,0-0.6-0.1c-0.4-0.1-0.7-0.2-1.1-0.4c-0.4-0.2-0.7-0.4-0.9-0.6c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.1-0.2-0.2
										c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.3-0.1-0.7,0.1-1c0.1-0.2,0.1-0.3,0.3-0.4c0.1-0.1,0.2-0.2,0.4-0.3c0.1,0,0.1-0.1,0.2-0.1l0,0
										l0.1,0c0.1,0,0.1-0.1,0.2-0.1l0,0c0.1,0,0.1,0,0.2-0.1c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0.1,0,0.1,0,0.2-0.1c0.4-0.1,0.8-0.1,1.3-0.1
										C8.8,9.6,9.2,9.7,9.5,9.7z M5.7,13.3C5.7,13.3,5.7,13.3,5.7,13.3C6,13.5,6.3,13.8,6.8,14c0.4,0.2,0.8,0.3,1.2,0.4
										c0.2,0,0.4,0.1,0.6,0.1c0,0,0.1,0,0.1,0c0.2,0,0.4,0,0.6,0c0.1,0,0.2,0,0.3-0.1c0,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0.1,0.3,0.1,0.5
										c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.2c-0.1,0.1-0.2,0.2-0.3,0.3C9.1,15.9,8.8,16,8.4,16c0,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0L8,16
										l-0.1,0c-0.2,0-0.3-0.1-0.5-0.1c-0.3-0.1-0.7-0.3-0.9-0.5C6.3,15.3,6.1,15.2,6,15c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.2-0.2-0.2
										c-0.2-0.3-0.3-0.6-0.2-0.9c0-0.1,0.1-0.3,0.1-0.4C5.6,13.4,5.6,13.3,5.7,13.3z"/>
									<path fill="#020202" d="M25,11.1l-2.2-1.5l1-2.5c0.1-0.1-0.1-0.4-0.2-0.4L21,6.1l0.1-2.7c0-0.1-0.2-0.3-0.3-0.3l-2.7,0.3L17.2,1
										c0-0.1-0.3-0.2-0.4-0.2l-2.3,1.3l-1.8-2c-0.1-0.1-0.4-0.1-0.5,0L10.5,2L8.3,0.8C8.2,0.7,7.9,0.8,7.9,1L7,3.5L4.3,3.2
										C4.2,3.1,4,3.3,4,3.5L4,6.1L1.5,6.8C1.3,6.8,1.2,7,1.3,7.2l1,2.5l-2.2,1.5c-0.1,0.1-0.1,0.3,0,0.5l1.9,1.9l-1.5,2.2
										c-0.1,0.1,0,0.4,0.1,0.4L3,17.4L2.4,20c0,0.1,0.1,0.4,0.3,0.4l2.7,0.2l0.4,2.6c0,0.1,0.2,0.3,0.4,0.2l2.6-0.8l1.3,2.3
										c0.1,0.1,0.3,0.2,0.4,0.1l2.1-1.7l2.1,1.7c0.1,0.1,0.4,0,0.4-0.1l1.3-2.3l2.5,0.8c0.1,0,0.4-0.1,0.4-0.2l0.4-2.6l2.7-0.2
										c0.1,0,0.3-0.2,0.3-0.4l-0.6-2.6l2.4-1.1c0.1-0.1,0.2-0.3,0.1-0.4l-1.5-2.2l1.8-1.9C25.1,11.5,25.1,11.2,25,11.1z M12.5,22.7
										C7,22.7,2.5,18.2,2.5,12.6C2.5,7,7,2.5,12.5,2.5c7.6,0,10.1,6.8,10.1,10.1C22.6,18.2,18.1,22.7,12.5,22.7z M22.3,9.8
										c0.1,0.3,0.2,0.8,0.3,1.2c-0.2-1.2-0.7-2.5-1.4-3.8c0.2,0.3,0.3,0.5,0.5,0.8C22,8.7,22.3,9.7,22.3,9.8z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Our Guarantee</p>
									<p>Quality</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-two">
							<div class="item-content" data-name="hire-us">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="35.20" height="20" viewBox="0 0 35.20 20">
										<path fill="#020202" d="M8.9,0v5.6c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8V0H8.9z"/>
											<path fill="#020202" d="M3.7,3.5v13h14.1v-13h-3.8v2.1c0,1.8-1.4,3.2-3.2,3.2S7.5,7.4,7.5,5.6V3.5H3.7z M14.4,13.8H6.8
												c-0.3,0-0.6-0.3-0.6-0.6c0-0.3,0.3-0.6,0.6-0.6h7.6c0.3,0,0.6,0.3,0.6,0.6C15,13.5,14.7,13.8,14.4,13.8z M14.4,10
												c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6H6.8c-0.3,0-0.6-0.3-0.6-0.6c0-0.3,0.3-0.6,0.6-0.6H14.4z"/>
											<path fill="#020202" d="M19.8,0h-5.8v2.4h4.1c0.5,0,0.8,0.4,0.8,0.8v13.6c0,0.5-0.4,0.8-0.8,0.8H3.4c-0.5,0-0.8-0.4-0.8-0.8V3.2
												c0-0.5,0.4-0.8,0.8-0.8h4.1V0H1.4C0.6,0,0,0.6,0,1.4v17.1C0,19.4,0.6,20,1.4,20h18.3c0.8,0,1.4-0.6,1.4-1.4V1.4
												C21.2,0.6,20.6,0,19.8,0z"/>
											<path fill="#020202" d="M23.2,7.5h-0.6V15h0.6c0.3,0,0.6-0.3,0.6-0.6V8.1C23.8,7.8,23.5,7.5,23.2,7.5z"/>
											<path fill="#020202" d="M19.2,20h16.1v-4.5c0-0.3-0.3-0.6-0.6-0.6c-0.3,0-0.6,0.3-0.6,0.6v3.3H19.3c-0.3,0-0.6,0.3-0.6,0.6
												C18.7,19.7,18.9,19.9,19.2,20z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>How we Work</p>
									<p>Steps</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper indent">
						<div class="item-two">
							<div class="item-content" data-name="hire-us">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="19.9" height="20" viewBox="0 0 19.9 20">
										<path d="M15.6,12.3c1.9,0,3.5,1.6,3.5,3.5s-1.6,3.5-3.5,3.5s-3.5-1.6-3.5-3.5S13.7,12.3,15.6,12.3 M15.6,11.5
												c-2.3,0-4.3,1.9-4.3,4.3s1.9,4.3,4.3,4.3s4.3-1.9,4.3-4.3S18,11.5,15.6,11.5L15.6,11.5z"/>
											<g>
												<path d="M8.2,9H6.5C6.3,9,6.2,8.9,6.2,8.8V7.5c0-0.1,0.1-0.2,0.2-0.2h1.7c0.1,0,0.2,0.1,0.2,0.2v1.3C8.4,8.9,8.3,9,8.2,9z"/>
											</g>
											<path d="M8.2,11.5H6.5c-0.1,0-0.2-0.1-0.2-0.2V10c0-0.1,0.1-0.2,0.2-0.2h1.7c0.1,0,0.2,0.1,0.2,0.2v1.3C8.4,11.4,8.3,11.5,8.2,11.5z
												"/>
											<path d="M8.2,14.1H6.5c-0.1,0-0.2-0.1-0.2-0.2v-1.3c0-0.1,0.1-0.2,0.2-0.2h1.7c0.1,0,0.2,0.1,0.2,0.2v1.3
												C8.4,13.9,8.3,14.1,8.2,14.1z"/>
											<path d="M5,11.5H3.3c-0.1,0-0.2-0.1-0.2-0.2V10c0-0.1,0.1-0.2,0.2-0.2H5c0.1,0,0.2,0.1,0.2,0.2v1.3C5.2,11.4,5.1,11.5,5,11.5z"/>
											<path d="M5,14.1H3.3c-0.1,0-0.2-0.1-0.2-0.2v-1.3c0-0.1,0.1-0.2,0.2-0.2H5c0.1,0,0.2,0.1,0.2,0.2v1.3C5.2,13.9,5.1,14.1,5,14.1z"/>
											<path d="M11.3,9H9.6C9.5,9,9.4,8.9,9.4,8.8V7.5c0-0.1,0.1-0.2,0.2-0.2h1.7c0.1,0,0.2,0.1,0.2,0.2v1.3C11.5,8.9,11.4,9,11.3,9z"/>
											<path d="M11.3,11.5H9.6c-0.1,0-0.2-0.1-0.2-0.2V10c0-0.1,0.1-0.2,0.2-0.2h1.7c0.1,0,0.2,0.1,0.2,0.2v1.3
												C11.5,11.4,11.4,11.5,11.3,11.5z"/>
											<path d="M14.4,9h-1.7c-0.1,0-0.2-0.1-0.2-0.2V7.5c0-0.1,0.1-0.2,0.2-0.2h1.7c0.1,0,0.2,0.1,0.2,0.2v1.3C14.6,8.9,14.5,9,14.4,9z"/>
											<path id="ticker_1_" d="M15.8,16.9c-0.1,0-0.2-0.1-0.3-0.2l-1.2-3c-0.1-0.1,0-0.3,0.2-0.4c0.1-0.1,0.3,0,0.4,0.2l1.2,3
												c0.1,0.1,0,0.3-0.2,0.4C15.9,16.9,15.9,16.9,15.8,16.9z"/>
											<path id="ticker" d="M15.2,16.9c0,0-0.1,0-0.1,0c-0.1-0.1-0.2-0.2-0.1-0.4l1.4-2.3c0.1-0.1,0.2-0.2,0.4-0.1c0.1,0.1,0.2,0.2,0.1,0.4
												l-1.4,2.3C15.4,16.9,15.3,16.9,15.2,16.9z"/>
											<g>
												<path d="M11.3,12.3H9.6c-0.1,0-0.2,0.1-0.2,0.2v1.3c0,0.1,0.1,0.2,0.2,0.2h0.8C10.6,13.4,11,12.8,11.3,12.3
													C11.3,12.3,11.3,12.3,11.3,12.3z"/>
												<path d="M14.6,10c0-0.1-0.1-0.2-0.2-0.2h-1.7c-0.1,0-0.2,0.1-0.2,0.2v1.3c0.6-0.4,1.4-0.8,2.1-0.9V10z"/>
											</g>
											<g>
												<path d="M3.9,3.4c-0.3,0-0.6-0.3-0.6-0.6V0.6C3.3,0.3,3.6,0,3.9,0s0.6,0.3,0.6,0.6v2.2C4.5,3.1,4.2,3.4,3.9,3.4z"/>
												<path d="M8.9,3.4c-0.3,0-0.6-0.3-0.6-0.6V0.6C8.3,0.3,8.5,0,8.9,0c0.3,0,0.6,0.3,0.6,0.6v2.2C9.5,3.1,9.2,3.4,8.9,3.4z"/>
												<path d="M14,3.4c-0.3,0-0.6-0.3-0.6-0.6V0.6C13.4,0.3,13.6,0,14,0s0.6,0.3,0.6,0.6v2.2C14.6,3.1,14.3,3.4,14,3.4z"/>
											</g>
											<path d="M16.1,1.6h-1.4v1.1c0,0.5-0.4,0.8-0.8,0.8s-0.8-0.4-0.8-0.8V1.6H9.7v1.1c0,0.5-0.4,0.8-0.8,0.8C8.4,3.6,8,3.2,8,2.8V1.6H4.7
												v1.1c0,0.5-0.4,0.8-0.8,0.8S3.1,3.2,3.1,2.8V1.6H1.6C0.7,1.6,0,2.3,0,3.2V15c0,0.9,0.7,1.6,1.6,1.6h8.7c0-0.3-0.1-0.5-0.1-0.8
												c0-0.3,0-0.5,0.1-0.7H1.5V6.1h14.7v4.2c0.5,0.1,1,0.2,1.4,0.4V3.2C17.7,2.3,17,1.6,16.1,1.6z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Schedule</p>
									<p>Contact Us</p>
								</div>
							</div>
						</div>
					</div>
		
					<div class="item-wrapper indent">
						<div class="item-two">
							<div class="item-content" data-name="hire-us">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="24.8" height="20" viewBox="0 0 24.8 20">
										<path d="M24.2,13.8h-0.6v-2.9V9.5c0-0.5-0.1-0.9-0.5-1.4c-0.7-0.7-3.6-3.6-3.8-3.8c-0.2-0.2-0.5-0.6-1.6-0.6h-1.6V1.9
											c0-1-0.8-1.9-1.9-1.9H1.9C0.8,0,0,0.8,0,1.9v12.5c0,1,0.8,1.9,1.9,1.9h0.6c0,2.1,1.7,3.7,3.7,3.7s3.7-1.7,3.7-3.7h4.3h0.7
											c0,2.1,1.7,3.7,3.7,3.7s3.7-1.7,3.7-3.7h1.8c0.3,0,0.6-0.3,0.6-0.6v-1.2C24.8,14.1,24.6,13.8,24.2,13.8z M6.2,18.1
											c-1,0-1.9-0.8-1.9-1.9h3.7C8.1,17.3,7.2,18.1,6.2,18.1z M18.7,18.1c-1,0-1.9-0.8-1.9-1.9h3.7C20.6,17.3,19.7,18.1,18.7,18.1z
											 M21.8,10h-5.6V5.6c0,0,1.4,0,1.5,0c0.1,0,0.2,0.1,0.3,0.1s3.6,3.6,3.7,3.7s0.1,0.2,0.1,0.2V10z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>The Arrival</p>
									<p>On Time</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper indent">
						<div class="item-two">
							<div class="item-content" data-name="hire-us">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="39.2" height="20" viewBox="0 0 39.2 20">
										<rect x="17.2" y="0.9" fill="#020202" width="3.8" height="7.2"/>
										<rect x="21.8" y="2.2" fill="#020202" width="1.4" height="4.7"/>
										<path fill="#020202" d="M26,6.8h-2V2.2h2c0.6,0,1.1,0.5,1.1,1.1v2.4C27.1,6.3,26.6,6.8,26,6.8z"/>
										<path fill="#020202" d="M6.1,15.1H5.3V12h0.8c0.3,0,0.6,0.3,0.6,0.6v1.8C6.7,14.8,6.4,15.1,6.1,15.1z"/>
										<path d="M29.7,4.1h-1.4c0.1,0.4,0.5,0.5,0.6,0.8h1.4C30.2,4.6,29.8,4.5,29.7,4.1z"/>
										<path d="M32,4.1h-1.6c0.1,0.4,0.5,0.5,0.6,0.8h1.6C32.6,4.6,32.1,4.5,32,4.1z"/>
										<path d="M38.8,4.1h-1.5c0.1,0.4,0.5,0.5,0.6,0.8h0.8c0.2,0,0.4-0.2,0.4-0.4C39.2,4.3,39,4.1,38.8,4.1z"/>
										<path d="M27.6,4.1h-2.2c-0.2,0-0.4,0.2-0.4,0.4c0,0.2,0.2,0.4,0.4,0.4h2.8C28.1,4.6,27.6,4.5,27.6,4.1z"/>
										<path d="M36.5,4.1h-1.3c0.1,0.4,0.5,0.5,0.6,0.8h1.3C37,4.6,36.6,4.5,36.5,4.1z"/>
										<path d="M34.4,4.1h-1.6c0.1,0.4,0.5,0.5,0.6,0.8h1.6C35,4.6,34.5,4.5,34.4,4.1z"/>
										<path fill="#020202" d="M8.8,0v1.5c0,0.4-0.3,0.7-0.7,0.7S7.3,1.9,7.3,1.5V0H7v1.5c0,0.4-0.3,0.7-0.7,0.7c-0.4,0-0.7-0.3-0.7-0.7V0
											H5v1.5c0,0.4-0.3,0.7-0.7,0.7S3.5,1.9,3.5,1.5V0H3.1H2.7H1.6C0.7,0,0,0.7,0,1.6v16.8C0,19.3,0.7,20,1.6,20h1.5
											c0.9,0,1.6-0.7,1.6-1.6V9.2h11.7V0H8.8z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>The Work</p>
									<p>Performance</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- HIRE-US END -->
				<div class="box-one type-of-doors">
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="type-of-doors">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="23.1" height="20" viewBox="0 0 23.1 20">
										<path fill="#020202" d="M22.9,9l-3-2.5V0.8c0-0.4-0.3-0.7-0.7-0.7h-2.4c-0.4,0-0.7,0.3-0.7,0.7v2.6l-3.7-3.1c-0.5-0.4-1.2-0.4-1.7,0
											c-0.1,0-0.2,0.1-0.2,0.2L0.2,9C0,9.2-0.1,9.6,0.2,9.9l0.6,0.8c0.2,0.3,0.7,0.3,1,0.1l9.7-8.1l9.8,8.2c0.3,0.2,0.7,0.2,1-0.1L23,10
											C23.2,9.7,23.2,9.3,22.9,9z"/>
										<path fill="#020202" d="M11.5,4l-8.2,6.8V19c0,0.5,0.4,1,1,1h8.4v-5.4c0-0.1,0.1-0.2,0.2-0.2h3.3c0.1,0,0.2,0.1,0.2,0.2V20h2.5
											c0.5,0,1-0.4,1-1v-8.4L11.5,4z M7.7,16.8C7.7,16.8,7.7,16.9,7.7,16.8L6,16.9c-0.1,0-0.1,0-0.1-0.1v-1.6c0-0.1,0-0.1,0.1-0.1h1.6
											c0.1,0,0.1,0,0.1,0.1V16.8z M7.7,14.4C7.7,14.4,7.7,14.5,7.7,14.4L6,14.5c-0.1,0-0.1,0-0.1-0.1v-1.6c0-0.1,0-0.1,0.1-0.1h1.6
											c0.1,0,0.1,0,0.1,0.1V14.4z M10.1,16.8C10.1,16.8,10,16.9,10.1,16.8l-1.7,0.1c-0.1,0-0.1,0-0.1-0.1v-1.6c0-0.1,0-0.1,0.1-0.1H10
											c0.1,0,0.1,0,0.1,0.1V16.8z M10.1,14.4C10.1,14.4,10,14.5,10.1,14.4l-1.7,0.1c-0.1,0-0.1,0-0.1-0.1v-1.6c0-0.1,0-0.1,0.1-0.1H10
											c0.1,0,0.1,0,0.1,0.1V14.4z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Residential</p>
									<p>Location</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper indent">
						<div class="item-one">
							<div class="item-content" data-name="type-of-doors">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="19.1" height="20" viewBox="0 0 19.1 20">
										<path d="M18.8,20H0.4V0h18.5V20z M1.6,18.8h16V1.3h-16V18.8z"/>
										<rect width="19.1" height="1.3"/>
										<rect x="6.3" y="0.6" width="1.2" height="18.7"/>
										<rect x="12.2" y="0.6" width="1.2" height="18.7"/>
										<path id="wall" d="M1,10c0,2.3,0,5.1,0,5.1v3v1.2h17.2c0,0,0-16.8,0-18.1C9.6,1.3,10.2,10,1,10z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Material</p>
									<p>Wood Metals</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="type-of-doors">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
										<path fill="#020202" d="M9.5,0.8V7H0.6C0.2,6.9,0,7.1,0,7.3v12.3C0,19.8,0.2,20,0.6,20h8.9h9.9c0.4,0,0.6-0.2,0.6-0.4V4.5L9.5,0.8z"
											/>
										<rect x="9.4" fill="#020202" width="1.9" height="19.5"/>
										<path fill="#FCFCFC" d="M8,11.1H3.1c-0.1,0-0.2-0.1-0.2-0.2V9.3c0-0.1,0.1-0.2,0.2-0.2H8c0.1,0,0.2,0.1,0.2,0.2V11
											C8.2,11.1,8.1,11.1,8,11.1z"/>
										<path fill="#FCFCFC" d="M18.2,7.1h-5.9c-0.1,0-0.1-0.1-0.1-0.2V6c0-0.1,0.1-0.1,0.1-0.1h5.9c0.1,0,0.1,0.1,0.1,0.1v0.9
											C18.3,7,18.3,7.1,18.2,7.1z"/>
										<path fill="#FCFCFC" d="M18.2,9.4h-5.9c-0.1,0-0.1-0.1-0.1-0.1v-1c0-0.1,0.1-0.1,0.1-0.1h5.9c0.1,0,0.1,0.1,0.1,0.1v0.9
											C18.3,9.3,18.3,9.4,18.2,9.4z"/>
										<path fill="#FCFCFC" d="M18.2,11.7h-5.9c-0.1,0-0.1-0.1-0.1-0.1v-0.9c0-0.1,0.1-0.1,0.1-0.1h5.9c0.1,0,0.1,0.1,0.1,0.1v0.9
											C18.3,11.7,18.3,11.7,18.2,11.7z"/>
										<path fill="#FCFCFC" d="M18.2,14.1h-5.9c-0.1,0-0.1-0.1-0.1-0.1v-1c0-0.1,0.1-0.1,0.1-0.1h5.9c0.1,0,0.1,0.1,0.1,0.1v0.9
											C18.3,14,18.3,14.1,18.2,14.1z"/>
										<path fill="#FCFCFC" d="M18.2,16.4h-5.9c-0.1,0-0.1-0.1-0.1-0.1v-0.9c0-0.1,0.1-0.1,0.1-0.1h5.9c0.1,0,0.1,0.1,0.1,0.1v0.9
											C18.3,16.4,18.3,16.4,18.2,16.4z"/>
										<path fill="#FCFCFC" d="M18.2,18.8h-5.9c-0.1,0-0.1-0.1-0.1-0.1v-0.9c0-0.1,0.1-0.1,0.1-0.1h5.9c0.1,0,0.1,0.1,0.1,0.1v0.9
											C18.3,18.7,18.3,18.8,18.2,18.8z"/>
										<path fill="#FCFCFC" d="M8,14.6H3.1c-0.1,0-0.2-0.1-0.2-0.2v-1.7c0-0.1,0.1-0.2,0.2-0.2H8c0.1,0,0.2,0.1,0.2,0.2v1.7
											C8.2,14.6,8.1,14.6,8,14.6z"/>
										<path fill="#FCFCFC" d="M8,18.2H3.1C3,18.2,2.9,18,2.9,18v-1.7C2.9,16.1,3,16,3.1,16H8c0.1,0,0.2,0.1,0.2,0.2V18
											C8.2,18,8.1,18.2,8,18.2z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Commercial</p>
									<p>Location</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper indent">
						<div class="item-one">
							<div class="item-content" data-name="type-of-doors">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="19.1" height="20" viewBox="0 0 19.1 20">
										<path d="M18.8,20H0.4V0h18.5V20z M1.6,18.8h16V1.3h-16V18.8z"/>
										<rect width="19.1" height="1.3"/>
										<rect x="6.3" y="0.6" width="1.2" height="18.7"/>
										<rect x="12.2" y="0.6" width="1.2" height="18.7"/>
										<path id="wall" d="M1,10c0,2.3,0,5.1,0,5.1v3v1.2h17.2c0,0,0-16.8,0-18.1C9.6,1.3,10.2,10,1,10z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Material</p>
									<p>Wood Metals</p>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End Type of Doors -->

				<div class="box-one how-to-contact">
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="how-to-contact">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15.8" viewBox="0 0 20 15.8">
										<g>
											<path d="M18.7,0H1.3C0.6,0,0,0.6,0,1.3v13.1c0,0.7,0.6,1.3,1.3,1.3h17.3c0.7,0,1.3-0.6,1.3-1.3V1.3C20,0.6,19.4,0,18.7,0z
												 M2.6,14.8C2.4,15,2.2,15.1,2,15.1c-0.2,0-0.5-0.1-0.7-0.3C1,14.4,1,13.8,1.4,13.5l5.6-5l1.3,1.2L2.6,14.8z M18.8,14.8
												c-0.2,0.2-0.4,0.3-0.7,0.3c-0.2,0-0.4-0.1-0.6-0.2L12,9.7l1.2-1.2l5.6,5C19.1,13.8,19.2,14.4,18.8,14.8z M19,2.4l-8.3,7.2
												c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0
												c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0
												c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0
												c0,0,0,0,0,0L1.3,2.5C1,2.2,0.9,1.6,1.3,1.2c0.3-0.4,0.9-0.4,1.2-0.1l7.6,6.7l7.7-6.7c0.4-0.3,0.9-0.3,1.2,0.1
												C19.4,1.6,19.4,2.1,19,2.4z"/>
										</g>
									</svg>
								</div>
								<div class="subtitle">
									<p>Email</p>
									<p>Free Quote</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="how-to-contact">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="22" height="17.5" viewBox="0 0 22 17.5">
										<path d="M21.3,14.4c-0.1-0.4-1.6-6-1.6-6S16.8,7.8,16,7.6c-1.1-0.3-1.2-1.4-1.4-2.1c-0.2-0.7-0.4-1.3-1.4-1.3c-0.4,0-3.6,0-4.3,0
											S7.8,4.3,7.5,5.8c-0.3,1.5-1.6,1.9-2.1,2C5,8,2.8,8.3,2.4,8.4C2.3,8.7,1,13.3,0.6,14.7s0.7,2.8,2,2.8c1.3,0,16.6,0,16.6,0
											C21.5,17.5,21.7,16,21.3,14.4z M9.7,8.3l2.7,0l0,2.3H9.7L9.7,8.3z M9.7,10.9h2.7l0,2H9.7L9.7,10.9z M9.3,15.6H6.7
											c-0.4,0-0.7-0.3-0.7-0.7c0,0,0,0,0-0.1l0.2-1.6h3.1L9.3,15.6z M9.3,12.9h-3l0.3-2h2.8L9.3,12.9z M9.3,10.5H6.6l0.2-1.4
											c0-0.4,0.3-0.8,0.7-0.8l1.8,0L9.3,10.5z M9.6,15.6l0-2.4h2.7l0,2.4H9.6z M12.7,8.3l1.8,0c0.4,0,0.7,0.3,0.7,0.8l0.2,1.5h-2.7
											L12.7,8.3z M12.7,10.9h2.8l0.3,2h-3L12.7,10.9z M15.3,15.6h-2.6l0-2.4h3.1l0.2,1.6c0,0,0,0,0,0.1C16,15.3,15.7,15.6,15.3,15.6z"/>
										<path d="M20.6,1.6C19.2,1,16.7,0,11.5,0l0,0c-0.1,0-0.2,0-0.3,0c-0.3,0-0.5,0-0.5,0c-0.1,0-0.2,0-0.3,0l0,0C5.3,0,2.8,1,1.4,1.6
											C-0.1,2.3-0.1,3.2,0,3.5s0.4,2.1,0.5,2.9S1.2,7.4,2,7.3C2.7,7.2,4.1,7,5.4,6.7C6.8,6.5,6.9,5.3,6.9,5C7,4.8,7,4.9,7.2,4.2
											C7.4,3.4,8,3.1,8.9,3.1c0.2,0,4,0,4.2,0c0.9,0,1.5,0.4,1.7,1.1C15,4.9,15,4.8,15.1,5c0.1,0.3,0.2,1.5,1.5,1.7
											C17.9,7,19.3,7.2,20,7.3c0.7,0.1,1.3-0.2,1.4-0.9c0.1-0.8,0.4-2.5,0.5-2.9C22.1,3.2,22.1,2.3,20.6,1.6z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Phone</p>
									<p>Faster Response</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="how-to-contact">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="15.3" height="20" viewBox="0 0 15.3 20">
										<path d="M7.7,0C3.4,0,0,3.4,0,7.7c0,4.2,3.4,9.7,7.7,12.3c4.2-2.7,7.7-8.1,7.7-12.3C15.3,3.4,11.9,0,7.7,0z M7.7,12.9
										c-2.9,0-5.2-2.3-5.2-5.2c0-2.9,2.3-5.2,5.2-5.2c2.9,0,5.2,2.3,5.2,5.2C12.9,10.5,10.5,12.9,7.7,12.9z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Location</p>
									<p>Directions to us</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<img class="right-arrow-svg" src="images/arrow-right-two.svg"/>
				<div class="box-two">
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content" data-name="contact">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
										<path fill="#020202" d="M19.2,6.1c-0.5-1.2-1.2-2.3-2.1-3.2c-0.9-0.9-2-1.6-3.2-2.1C12.7,0.3,11.3,0,10,0S7.3,0.3,6.1,0.8
											C4.9,1.3,3.8,2,2.9,2.9C2,3.8,1.3,4.9,0.8,6.1C0.3,7.3,0,8.7,0,10s0.3,2.7,0.8,3.9c0.5,1.2,1.2,2.3,2.1,3.2c0.9,0.9,2,1.6,3.2,2.1
											C7.3,19.7,8.7,20,10,20c1.1,0,2.2-0.2,3.2-0.6c1-0.4,1.9-1,2.4-1.7c0.6-0.7,0.8-1.5,0.6-2.2l0,0c0-0.2-0.1-0.6-0.4-1.1
											c-0.2-0.4-0.6-0.7-1-0.9c-0.1-0.6-0.5-1.1-1.1-1.3l-1.3-0.4c-0.9-0.3-1.8,0.3-2,1.1l-0.1,0.2c-1.7-0.9-2.9-2.8-3.1-4.2h0.2
											c0.9,0,1.7-0.7,1.7-1.7V6c0-0.8-0.7-1.5-1.5-1.5H7.4C6.4,4.4,5.9,5.1,5.8,6c0,0-0.2,1.3,0,2.3c0.4,2.7,1.9,5.2,5,6.5
											c1.2,0.5,2,0.6,2,0.6c0.7,0.1,1.4-0.1,1.7-0.7c0.4,0.4,0.5,0.8,0.6,1.1l0,0c0.1,0.4,0,0.8-0.4,1.2c-0.9,1.1-2.9,1.8-4.7,1.8
											c-2.4,0-4.6-0.9-6.2-2.6S1.2,12.4,1.2,10s0.9-4.6,2.6-6.2C5.4,2.1,7.6,1.2,10,1.2s4.6,0.9,6.2,2.6c1.7,1.7,2.6,3.9,2.6,6.2
											c0,1.2-0.2,2.3-0.7,3.4c-0.1,0.3,0,0.6,0.3,0.8c0.3,0.1,0.6,0,0.8-0.3c0.5-1.2,0.8-2.5,0.8-3.9C20,8.7,19.7,7.3,19.2,6.1z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Contact Us</p>
									<p>Call for services</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="item-one">
							<div class="item-content">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="22.5" height="20" viewBox="0 0 22.5 20">
										<path fill="#020202" d="M17.8,11.6c1-0.7,1.7-1.9,1.7-3.2c0-2.2-1.8-3.9-3.9-3.9s-3.9,1.8-3.9,3.9c0,1.3,0.7,2.5,1.7,3.2
											c-2.7,0.9-4.7,3.6-4.7,6.6V19c0,0.5,0.4,1,1,1h11.9c0.5,0,1-0.4,1-1v-0.9C22.5,15.1,20.5,12.6,17.8,11.6z"/>
										<path fill="#020202" d="M14.7,2.9C13.1,1.1,10.9,0,8.4,0C3.7,0,0,3.7,0,8.4c0,4.2,3.1,7.7,7.2,8.3c0.4-2.2,1.7-4.2,3.5-5.5
											C10.2,10.3,10,9.4,10,8.4C10,5.6,12,3.3,14.7,2.9z M5.5,9C4,9,2.8,7.8,2.8,6.3S4,3.6,5.5,3.6s2.7,1.2,2.7,2.7S7,9,5.5,9z"/>
										<path fill="#020202" d="M6.5,6.4L6.3,4.1c0-0.1-0.1-0.2-0.2-0.2C5.9,3.8,5.8,4,5.8,4.1l0,2.1l-2.3,1c-0.1,0-0.2,0.2-0.1,0.3
											c0,0.1,0.2,0.2,0.3,0.2l2.6-0.8c0,0,0,0,0,0c0,0,0,0,0,0C6.5,6.7,6.6,6.6,6.5,6.4z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Book Appointment</p>
									<p>Arrive on time</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item-wrapper">
						<div class="tab-wrapper">
							<div class="quote-tab"><p>2</p></div>
							<div class="quote-tab"><p>1</p></div>
							<div class="quote-tab"><p>3</p></div>
						</div>
						<div class="item-one">
							<div class="item-content">
								<div class="info-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="19.72" height="20" viewBox="0 0 19.72 20">
										<path fill="#050505" d="M16.5,14.3v4.8c0,0,0,0,0,0H0.8c0,0,0,0,0,0V0.8c0,0,0,0,0,0h15.6c0,0,0,0,0,0v3.7h0.8V0.8
										c0-0.5-0.4-0.8-0.8-0.8H0.8C0.4,0,0,0.4,0,0.8v18.3C0,19.6,0.4,20,0.8,20h15.6c0.5,0,0.8-0.4,0.8-0.8v-4.8H16.5z"/>
										<path fill="#020202" d="M14.1,3.6H3.2c-0.5,0-0.9-0.4-0.9-0.9v0c0-0.5,0.4-0.9,0.9-0.9h10.9c0.5,0,0.9,0.4,0.9,0.9v0
											C15,3.2,14.6,3.6,14.1,3.6z"/>
										<path fill="#020202" d="M14.9,18.3H3.5c-0.4,0-0.7-0.3-0.7-0.7v0c0-0.4,0.3-0.7,0.7-0.7h11.4c0.4,0,0.7,0.3,0.7,0.7v0
											C15.5,18,15.2,18.3,14.9,18.3z"/>
										<path fill="#020202" d="M19,5.3H9.4C9,5.3,8.7,5.6,8.7,6v7.1c0,0.4,0.3,0.7,0.7,0.7h0.8c-0.2,0.7-0.3,1.7-0.4,1.9
											C9.7,16,10,16,10.2,15.8c0.2-0.2,2.3-1.4,3.4-2H19c0.4,0,0.7-0.3,0.7-0.7V6C19.7,5.6,19.4,5.3,19,5.3z M14.1,8.5
											C14.1,8.6,14.2,8.6,14.1,8.5c0.1,0.1,0.1,0.1,0.2,0.2c0.1,0,0.1,0.1,0.2,0.1l1.7,0.7c0.1,0,0.2,0.1,0.3,0.2c0.1,0.1,0.1,0.1,0.2,0.2
											c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.3,0,0.4l0,0.1c0,0.4-0.1,0.7-0.3,0.9c-0.2,0.2-0.6,0.3-1,0.3h-0.6l0,0.4h-0.9l0-0.4h-0.6
											c-0.4,0-0.8-0.1-1-0.3c-0.2-0.2-0.3-0.4-0.3-0.8v-0.5h2.2v0.4c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1
											c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.1,0-0.2c0,0,0-0.1-0.1-0.1c0,0-0.1-0.1-0.1-0.1c0,0-0.1-0.1-0.2-0.1l-1.5-0.6
											c-0.3-0.1-0.6-0.3-0.7-0.4C12,9,11.9,8.8,11.9,8.5l0-0.1c0-0.3,0.1-0.6,0.3-0.8c0.2-0.2,0.6-0.3,1-0.3h0.6V7h0.9v0.4h0.6
											c0.4,0,0.8,0.1,1,0.3c0.2,0.2,0.3,0.4,0.3,0.8l0,0.2h-2.2l0-0.1c0-0.2-0.1-0.4-0.3-0.4c-0.1,0-0.1,0-0.2,0.1
											C14.1,8.3,14.1,8.4,14.1,8.5C14.1,8.5,14.1,8.5,14.1,8.5z"/>
										<path fill="#050505" d="M7.5,10.9H2.3c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7h5.2c0.4,0,0.7,0.3,0.7,0.7
											C8.2,10.6,7.9,10.9,7.5,10.9z"/>
										<path fill="#050505" d="M7.5,13.6H2.3c-0.4,0-0.7-0.3-0.7-0.7c0-0.4,0.3-0.7,0.7-0.7h5.2c0.4,0,0.7,0.3,0.7,0.7
											C8.2,13.3,7.9,13.6,7.5,13.6z"/>
										<path fill="#050505" d="M7.5,8.2H2.3c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7h5.2c0.4,0,0.7,0.3,0.7,0.7S7.9,8.2,7.5,8.2z"/>
									</svg>
								</div>
								<div class="subtitle">
									<p>Quote</p>
									<p>Free Quote</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- REPLACE OR REPAIR END -->
		</div> <!-- INFO-SECTION END -->
	</div> <!-- CONTAINER-LG GRID END -->
</section>

<!-- MODAL -->
<div class="modal-overlay">
	<div class="info-modal">
		<header>
			<div class="modal-info top-tab">
				<h4 class="modal-title"></h4>
				<button class="close-modal">X</button>
			</div>
		</header>
		<main>
		</main>
	</div>
</div>

<section class="map">
	<span class="metadata-marker" data-region_tag="html-body"></span>
	<div id="map"></div>
</section>





